<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ashen.ccfilm.hall.dao.FieldMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ashen.ccfilm.hall.entity.model.Field">
        <id column="UUID" property="uuid"/>
        <result column="cinema_id" property="cinemaId"/>
        <result column="film_id" property="filmId"/>
        <result column="begin_time" property="beginTime"/>
        <result column="end_time" property="endTime"/>
        <result column="hall_id" property="hallId"/>
        <result column="hall_name" property="hallName"/>
        <result column="price" property="price"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        UUID, cinema_id, film_id, begin_time, end_time, hall_id, hall_name, price
    </sql>

    <select id="describeHalls" resultType="com.ashen.ccfilm.hall.entity.model.vo.HallsRespVo">
        SELECT
          (SELECT cinema_name FROM cc_cinema c WHERE c.`uuid` = fie.cinema_id) AS cinemaName,
          fie.hall_name AS hallName,
          (SELECT film_name FROM cc_film f WHERE f.`uuid` = fie.film_id) AS filmName,
          (SELECT show_name FROM cc_hall_dict d WHERE d.`uuid` = fie.hall_id) AS hallTypeName,
          fie.begin_time AS beginTime,
          fie.end_time AS endTime,
          fie.price AS filmPrice
        FROM cc_field fie
        ${ew.customSqlSegment}
    </select>

</mapper>
